#!/bin/bash

kubectl create secret generic gnuu-secrets -n gnuu \
  --from-literal=mysql_host='mysql' \
  --from-literal=mysql_port=3306 \
  --from-literal=mysql_user='xxxxx' \
  --from-literal=mysql_password='xxxx' \
  --from-literal=mysql_db='xxxx' \
  --from-literal=DOCKERHOOK_TOKEN='xxxxx' 
